yellow-color = #fcd570
brown-color = #904643

body, html
  height 100%
  font-family: 'Raleway', sans-serif;
  color white

h1, h2, h3, h4
  font-family: 'Montserrat', sans-serif;

h1
  font-size 3em

img
  max-width 100%
  height auto

a
  text-decoration none

.pane
  flex 1
  flex-grow 0.30

.slide
  display: flex
  height 100%
  background-size cover
  background-attachment fixed
  background-repeat no-repeat
  background-position center center
  text-align center
  flex-wrap wrap

.slide-1-bg
  background-image url("http://media.istockphoto.com/photos/fish-oil-omega-369-yellow-soft-gels-capsules-picture-id526542098?s=2048x2048")
  justify-content center
  align-items center

.slide-2-bg
  background-color brown-color

.service
  width 100%

.section-title
  width 100%
  margin-top 40px
  text-shadow -5px 3px black
  text-transform capitalize

.slide-3-bg
  background-image url("https://c1.staticflickr.com/9/8312/8014955813_bc61b21e65_b.jpg")

.slide-4-bg
  background-color yellow-color

.social-media
  position: fixed
  bottom 0
  right 0
  background-color rgba(white, 0.5)

.media
  position fixed
  bottom 0
  left 5%
  background-color: white;
  border-radius: 10px;
  margin-bottom: 5px;

.fa
  margin 10px
  cursor pointer

.fa-facebook-square
  color #3b5998

.fa-twitter-square
  color #00aced

.form-control
  margin-bottom 15px
