yellow-color = #fcd570
brown-color = #904643
light-grey = #e0e0e0
header-color = lighten(black, 30%)

body, html
  height 100%
  font-family 'Raleway', sans-serif
  color white
  font-size 28px
  line-height 35px
  font-family 'Montserrat', sans-serif

h1
  font-size 1.8rem

img
  max-width 100%
  height auto

a
  color black
  &
  &:visited
  &:hover
  &:focus
    text-decoration none

.header
  height 55px
  width 100%
  position fixed
  background-color white
  z-index 100
  display flex
  align-items center
  padding 0 15px

  .header__text
    color: darken(light-grey, 30%)
    font-size 1.5rem
    flex-grow 0.95

  .header__nav
    display flex
    list-style none
    color black
    font-size 0.8rem
    li
      padding 10px
      cursor pointer
      &:hover
        background-color lighten(light-grey, 50%)

.separator
  height 150px
  background-color white
  display flex
  align-items center
  justify-content center
  .separator__text
    color header-color
  &.separator--small
    height 50px

.slide
  height 100%
  background-size cover
  background-attachment fixed
  background-repeat no-repeat
  background-position center center
  display flex
  align-items center
  font-size 0.7rem
  color black
  &__panel
    width: 600px
    height 300px
    background-color transparentify(white, 0.7)
    padding 20px
  &__title
    font-size 1.2rem
    margin 10px 0
    color header-color
  &--right
    justify-content flex-end
    .slide__panel
      margin-right 50px
  &--home
    background-image url("/images/home.jpg")
  &--capsulas
    background-image url("/images/gel_capsules.jpg")
  &--aceite
    background-image url("/images/aceite.jpg")
  &--maquila
    background-image url("/images/maquila.jpg")
  &--contactenos
    background-color white
    height 75%

.social-media
  position: fixed
  bottom 0
  right 0
  background-color rgba(white, 0.5)

.media
  position fixed
  bottom 0
  left 5%
  background-color: white;
  border-radius: 10px;
  margin-bottom: 10px;
  padding 5px

.fa
  margin 0 2px
  cursor pointer

.fa-facebook-square
  color #3b5998

.fa-twitter-square
  color #00aced
  

