yellow-color = #fcd570
brown-color = #904643
light-grey = #B0C4DE

body, html
  height 100%
  font-family 'Raleway', sans-serif
  color white
  font-size 16px
  line-height 20px
  font-family 'Montserrat', sans-serif

h1
  font-size 1.8rem

img
  max-width 100%
  height auto

a
  text-decoration none

.slide
  background-size cover
  background-attachment fixed
  background-repeat no-repeat
  background-position center center

.slide-1-bg
  background-image url("http://media.istockphoto.com/photos/fish-oil-omega-369-yellow-soft-gels-capsules-picture-id526542098?s=2048x2048")
  position relative
  background-position 100% 100%
  height 100%

.slide-2-bg
  background-color yellow-color

.slide-3-bg
  background-image url("https://c1.staticflickr.com/9/8312/8014955813_bc61b21e65_b.jpg")

.slide-4-bg
  background-color black

.logo-pane
  width 50%
  position absolute
  top 50%
  left 50%
  transform translate(-50%, -50%)

.section-title
  width 100%
  padding-top 30px
  padding-bottom 10px
  text-align center

.section-text
  text-shadow -2px 2px 1px black
  text-transform capitalize
  letter-spacing 2px

.service-container
  display flex
  flex-direction column

.service-text-container
  display flex
  flex-direction column

.service
  display flex
  flex-direction column
  text-align center
  margin 5%
  padding 5%
  background-color: rgba(brown-color, 0.4);
  img
    width 50%
    border-radius 50%
    display block
    margin 0 auto
    margin-bottom 3%
  p
    text-align justify
  label
    margin-bottom 15px
    font-size 1.4rem
    font-weight bold
    color yellow-color
    text-shadow -2px 2px rgba(black, 0.5)

.client-container
  display flex
  flex-direction column

.client
  display flex
  flex-direction column
  text-align: center;
  margin: 5%;
  padding: 5%;
  background-color: rgba(0, 0, 0, 0.4);
  p
    text-align justify
  label
    margin-bottom 15px
    font-size 1.4rem
    font-weight bold
    color yellow-color

.contact-us
  display flex
  flex-direction column
  justify-items center
  align-items center
  list-style none
  padding-bottom 4rem
  margin-top 1rem
  .fa
    color brown-color
  span
    color yellow-color
    margin 0 10px
  li
    text-shadow -1px 1px 1px rgba(black, 0.5)

.social-media
  position: fixed
  bottom 0
  right 0
  background-color rgba(white, 0.5)

.media
  position fixed
  bottom 0
  left 5%
  background-color: white;
  border-radius: 10px;
  margin-bottom: 10px;
  padding 5px

.fa
  margin 0 2px
  cursor pointer

.fa-facebook-square
  color #3b5998

.fa-twitter-square
  color #00aced

@media (min-width: 650px)
  body
  html
    font-size 18px
    line-height 25px

  .service
    flex-direction row
    align-items center
    img
      width 50%
      height 50%
      margin-right 5%
    &:nth-child(even) img
      order 2
      margin-left 5%
      margin-right 0

@media (min-width: 1200px)
  body
  html
    font-size 28px
    line-height 35px

  .slide
    .section-title
      padding-top 5%

  .service
    margin 2%
    padding 2%
    img
      width 20%
      height 20%

  .client-container
    flex-direction row
    p
      font-size 1rem
      line-height 1.5rem

  .client
    padding 1%

